page-home {
    .content-md, .content-ios{
        background-color: transparent;
        background-image: url('../assets/img/bg.png');
        background-size: cover;
    }
    .buttonSpan{
        margin-top: 50%;
        .outerRing{
            width: 100%;
            .innerBtn{
                width: 36px;
                height: 36px;
                padding: 10px;
                background: #fff;
                border-radius: 50%;
            }
        }
        
    }
}
